+<!doctype html>
<html>
    <head>
        <title>PARQUEADERO NEWAY</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        
    </head>
    <body>
        <h1>Hello Grupo 4 S23!</h1>
        <div id="Ingresar" class="form" ng-app="login23" ng-controller="testController as ts">
  <form  action="mysuperscript.php" autocomplete="on"> 
    <h1>Ingresar</h1> 
    <p> 
        <label for="username" class="uname" > Nombre de Usuario: </label>
        <input id="username" name="username" required="required" type="text" placeholder="Tu nombre de usuario" ng-model="ts.usuario"/>
    </p>
    <p> 
        <label for="password" class="youpasswd"> Contraseña:</label>
        <input id="password" name="password" required="required" type="password" placeholder="Tu password" ng-model="ts.contraseña"/> 
    </p>

    <p class="Ingresar button" ng-click="ts.login()"> 
        <input type="submit" value="Ingresar" /> 
    </p>
    <p class="change_link">
        No tienes Cuenta?
        <a href="#toregister" class="to_register">Regístrarse</a>
    </p>
  </form>
</div>




<div id="register" class="form">
  <form  action="mysuperscript.php" autocomplete="on"> 
    <h1> Registro</h1> 
    <p> 
        <label for="usernamesignup" class="uname" >Nombres</label>
        <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="Nombres" ng-model="ts.usuario.nombres"/>
    </p>
     <p> 
        <label for="userlastnamesignup" class="uname" >Apellidos</label>
        <input id="userlastnamesignup" name="userlastnamesignup" required="required" type="text" placeholder="Apellidos" ng-model="ts.usuario.apellidos"/>
    </p>
     <p> 
        <label for="useridtypesignup" class="uname" >Tipo de Documento</label>
        <input id="useridtypesignup" name="useridtypesignup" required="required" type="text" placeholder="Tipo de Documento" ng-model="ts.usuario.tipoDocumento"/>
    </p>
    <p> 
        <label for="useridsignup" class="uname" >Numero de Documento</label>
        <input id="useridsignup" name="useridsignup" required="required" type="text" placeholder="Numero de Documento" ng-model="ts.usuario.numeroDocumento"/>
    </p>
     <p> 
        <label for="usertelsignup" class="uname" >Celular</label>
        <input id="usertelsignup" name="usertelsignup" required="required" type="text" placeholder="Celular" ng-model="ts.usuario.celular"/>
    </p>
    <p> 
        <label for="emailsignup" class="youmail" > Email</label>
        <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="Email" ng-model="ts.usuario.email"/> 
    </p>
     <p> 
        <label for="usernicksignup" class="uname" >Tu Usuario</label>
        <input id="usernicksignup" name="usernicksignup" required="required" type="text" placeholder="Tu Usuario" ng-model="ts.usuario.tuUsuario"/>
    </p>
    <p> 
        <label for="passwordsignup" class="youpasswd" >Tu Contraseña </label>
        <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO" ng-model="ts.usuario.contraseña"/> 
    </p>
    <p> 
        <label for="passwordsignup_confirm" class="youpasswd" >Confirma tu Contraseña </label>
        <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO" ng-model="ts.usuario.contraseña"/>
    </p>
    <p class="signin button"> 
        <input type="submit" value="Registrarse" ng-click="ts.registrarse()"/> 
    <p class="signin button"> 
        <input type="submit" value="Limpiar" ng-click="ts.limpiar()"/>
    <p class="signin button"> 
        <input type="submit" value="Listar" ng-click="ts.listar()"/>
    </p>
    <p class="change_link">  
        Ya estas Registrado?
        <a href="#tologin" class="to_register"> Ingresa! </a>
    </p>
  </form>
</div>
    </body>
    <script>
        var app = angular.module('login23', []);
        app.controller('testController', ['$http', initController]);
        function initController($http){
            var controlador = this;
            
            controlador.login = function(){
                var parametros = {opcion:"login", data: JSON.stringify(controlador)};
                $http({
                    method: 'POST',
                    url:'http;//localhost:8080/Backend/controller/usuariosController.jsp',
                    params:parametros
                }).then(function(res){
                    controlador.respuesta = res.data;
                    if(res.data.idUsuarios == 0){
                        alert("El usuario y/o contraseña ingresados no son validos");
                    }else{
                        window.location.href = "Usuario.html";
                    }
                });
                
            controlador.registrarse = function(){
                var parametros = {opcion: "registrarse", data: JSON.stringify(controlador.usuario)};
                $http({
                    method: 'POST',
                    url:'http://localhost:8080/Backend/controller/usuariosController.jsp',
                    params: parametros
                }).then(function(res){
                    console.log(res);
                    controlador.respuesta = res.data;
                    controlador.listar();
                });    
            };
            
            controlador.listar = function(){
                var parametros = {opcion:"listar"};
                $http({
                    method: 'POST',
                    url:'http://localhost:8080/Backend/controller/usuariosController.jsp',
                    params: parametros
                }).then(function(res){
                    console.log(res);
                    controlador.usuarios = res.data;
                });
            };
        }
    </script>
</html>
